*{
    background: rgb(44, 38, 38);
    font-size: 1.5rem;
    font-family:cursive;
}
.container{
    display: flex;
    justify-content: center;
    padding: 2.5rem;
    margin: 1rem;
    border-radius: 1rem;
    background: rgb(174, 209, 227);
    color: white;
}
.inner{
    padding: 1rem;
    border-radius: .5rem;
    width: 70%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.762), 0 6px 20px 0 rgba(0, 0, 0, 0.893);
}

.btn{
    width: 100%;
    border: none;
    border: 1px solid ;
    border-radius: .2rem;
    color: rgb(67, 185, 244);
}
.btn:hover{
    cursor: pointer;
    background: rgb(67, 185, 244);
    color: aliceblue;
}
.icon{
    display: flex;    
    justify-content: flex-end;
    color: rgb(67, 185, 244);
}
i:hover{
    cursor: pointer;
    color: whitesmoke;
}

.copyTextBtn{
    font-size:small;
    border: none;
    color: #555;
}
.copyTextBtn:hover{
    color: #fff;
    /* border: #fff solid 1px; */
    border-radius: 3px;
}